<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>We Rate Movie Lookup</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Montserrat:wght@100;300;400;500&family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/16aa750f43.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">

</head>


<body>

  <div class="container">

    <div class="content-wrap">


      <div class="title">
        <h1>WE RATE</h1>
        <h2>Movie Lookup & Ratings</h2>
      </div>
