@import url('../node_modules/font-awesome/css/font-awesome.min.css');

body {
  background-color: #f2efea;
  margin: 0;
}

.container {
  min-height: 100vh;
}

.content-wrap{
  padding-bottom: 2.5rem;
  left: 0;
  width: 100%;
  top: 0;
  overflow: scroll;
}

h1 {
  font-family: 'Limelight';
  font-size: 4rem;
  margin-bottom: 0;
  color: #393E46;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  margin-top: 0;
  color: #333333;
}

h3 {
  font-family: 'Quicksand';
  font-size: 1.25rem;
}

.title {
  text-align: center;
  background-color: #FFD369;
  position: fixed;
  width: 100%;
}

.search {
  position: relative;
  margin-top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search-text{
  font-family: 'Montserrat';
  font-size: 1.5rem;
  color: #333333;
}

.search-input {
  width: 30%;
  font-size: 1.25rem;
  font-family: 'Quicksand';
}

.search-button {
  margin-top: 2%;
  background-color: #FFD369;
  font-size: 1.25rem;
  font-family: 'Quicksand';
  border-color: #222831;
  color: #393E46;
}

.search-button:hover {
  background-color: #D9D9D9;
}

.search-results, .details {
  text-align: center;
  font-family: 'Quicksand';
  font-size: 1.25rem;
   margin-top: 200px;
}

a, a:visited {
  color: #00107F;
  text-decoration: none;
}

a:hover {
  color:#474747;
}

.movie-details{
  width: 80%;
  margin: auto;
  text-align: center;
  background-color: #D9D9D9;
  padding: 1%;
  overflow-y: auto;
}

.movie-title-details{
  margin: 3%;
}

.poster {
  width: 30%;
  float: left;
  padding: 2%;
}

.movie-info{
  width: 100%;
  display: block;
}

.category {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 400;
}

.detail {
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: 200;
}

.thumbs-container {
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
  margin-top: 5%;
}

.thumbs-div-float{
  flex: 1;
}

.thumbs-div-float:first-child{
  margin-right: 20px;
}

.thumbs-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: 1.5rem;
}

.back-to-search {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-size: 1.25rem;
  color: #00107F;
  text-decoration: none;
  font-family: 'Quicksand';
}

#thumbsUp:hover, #thumbsDown:hover, .back-to-search:hover {
  color: #474747;
}

.footer {
	text-align: center;
	width: 100%;
	height: 1.8rem;
  background-color: #FFD369;
  bottom: 0;
  position: fixed;
}

.footer p {
	font-size: 1rem;
  font-family: 'Quicksand';
  color: #333333;
  margin-top: .5rem;
}

@media only screen and (max-width: 695px){
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .search {
    margin-top: 130px;
  }

  .search-results, .details {
    margin-top: 130px;
    font-size: 1rem;
  }

  .thumbs-button {
    font-size: 1rem;
  }

}
